
@{
    ViewBag.Title = "DeletePerson";
}

<h2>DeletePerson</h2>

<form method="post" action="@Url.Action("DeletePerson")">
    Id: <input type="text" name="id" />
    <input type="submit" value="Saved" />

</form>