
@{
    ViewBag.Title = "GetPersons";
}

<h2>GetPersons</h2>
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Address</th>        
    </tr>
    @foreach (var item in ViewBag.List)
    {
        <tr>
            <th>@item.id</th>
            <th>@item.Name</th>
            <th>@item.Address</th>
        </tr>
    }

</table>
