
@{
    ViewBag.Title = "InsetPerson";
}

<h2>InsertPerson</h2>
<form method="post" action="@Url.Action("InsetPerson")">
    Id: <input type="text" name="id" />
    Name: <input type="text" name="Name" />
    Address: <input type="text" name="Address"/>
    <input type="submit" value="Saved"/>

</form>

