
@{
    ViewBag.Title = "UpdatePerson";
}

<h2>UpdatePerson</h2>
<form method="post" action="@Url.Action("UpdatePerson")">
    Id: <input type="text" name="id" />
    Name: <input type="text" name="Name" />
    Address: <input type="text" name="Address" />
    <input type="submit" value="Saved" />

</form>
